
.home {
    min-height: 100vh; 
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 5rem; 
        color: orange;
    }

    p {
        font-size: 2rem;
    }

    img {
        max-width: 30rem; 
        // margin: auto;
        display: block;
    } 
}

@media screen and (min-width: 968px) { 
    .home {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 4rem;

        p {
            max-width: 40rem;
        }
    }

}