
.tips {
    padding: 2rem;
    min-height: 100vh;
    margin-top: 3rem;

    .main-accordion {
        margin-top: 3rem;
        max-width: 50rem;
    }

} 

@media screen and (min-width: 700px) {
    .tips {
        margin-left: 3rem;
    }
}

